.logo {
  width: 4rem;
  border-radius: 100%;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom:25px;
}

.avtar {
  width:2.9rem;
  border-radius: 100%;
  margin-top:10px;
  margin-right: auto;
}

.navbar {
  display: flex;
  box-shadow: 0px 4px 12px rgba(77, 71, 71, 0.4);
  border: 1px solid black;
  height:6rem;
  position: sticky;
}

.logo-container h3 {
  color: white;
  margin-top: 29px;
}

.logo-container {
  display: flex;
  margin-top: 13px;
  margin-left: 20px;
  gap: 9px;
}
.navbar-option {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  margin-right: 40px;
  margin-top: 20px;
}

.navbar-option p {
    margin: 0;
    color: white;
    margin-top: 10px;
}

.navbar p {
  color: white;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
    color: white;
}
