.starred-repo{
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    margin:20px;
    margin-top: 20px;
}

.repo-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.repo-details i {
    width: 25px;
    min-width: 25px;
    text-align: center;
}

.repo-details h3 {
    margin: 0;
}

.repo-details small{
    color: white;
    margin: auto;
    font-size: 18px;
    margin-bottom:5px;
    gap: 10px;
    
}

.starred-container h2{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.starred-container{
    cursor: pointer;
}

.starred-repo:hover{
    background-color: #1e1e1e;
    transition: 0.3s;
    box-shadow: 0px 0px 4px white;
}